body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px;
}
.logo {
  color: white;
  font-size: 24px;
}
.navbar {
  display: flex;
  align-items: center;
}
.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.navbar li {
  margin-right: 20px;
}
.navbar a {
  color: white;
  text-decoration: none;
  transition: background-color 0.3s;
}
.navbar a:hover {
  background-color: #444;
}
.icon {
  display: none;
  cursor: pointer;
  padding: 10px;
}
.icon span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition:
    transform 0.3s,
    opacity 0.3s;
}
@media screen and (max-width: 768px) {
  .navbar ul {
    display: none;
  }
  .icon {
    display: flex;
  }
  .navbar.responsive ul {
    display: flex;
    flex-direction: column;
    background-color: #333;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
  }
  .navbar.responsive li {
    margin: 0;
    text-align: center;
  }
  .navbar.responsive a {
    display: block;
    padding: 10px 0;
  }
  .icon.open span:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .icon.open span:nth-child(2) {
    opacity: 0;
  }
  .icon.open span:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}
